@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Oswald", sans-serif;
    background-color: #f4f6f9;
    transition: all .5s ease;
}
.header{
    background-color: #f4f6f9;
    z-index: 999;
}
.main_header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    height: auto;
    transition: all .5s ease;
    /* border-bottom: 1px solid rgba(78, 77, 77, 0.274); */
    color: #112038;
    z-index: 999;
    
}

.main_header_left{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_header_left img{
    width: 50%;
    margin-top: -15px;
}

.main_header_left p{
    display: flex;
    justify-content: space-between;
    width: 205px;
    align-items: center;
    font-size: 24px;
    font-weight: 300;
}

.main_header_right{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
}
.main_header_right_a{
    color: #112038;
    text-decoration: none;
    justify-content: space-between;
    font-size: 20px;
}

.inst{    
    text-decoration: none;
    color: #112038;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    font-size: 24px;
    width: 125px;
}

.main_header_right a:hover{
    text-decoration:underline;
    transition: all 5s ease;
}

.fixed_header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 7% 10px 7%;
}
.header_catalog{
    width: 200px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3984be;
    color: white;
    cursor: pointer;
    transition: all .5s ease;
    fill: white;
}

.header_catalog:hover{
    border: 1px solid #3984be;
    box-shadow: 0 0 9px rgba(57,132,190,0.5);
}
.search{
    display: flex;
    align-items: center;
    border:2px solid rgba(199, 199, 199, 0.296);
    background-color: #e9eaec3b;
    width: 60%;
    height: 40px;
    border-radius: 8px;
    padding-left: 15px;
}
.search svg{
    fill: rgb(147, 147, 147);
}
.search input{
    border: none;
    list-style: none;
    background-color: rgba(199, 199, 199, 0);
    width: 90%;
    padding-left: 10px;
    color: rgb(147, 147, 147);
    font-size: 16px;
    outline: none;
}
.search:hover{
    border: 1px solid #3984be;
    box-shadow: 0 0 9px rgba(57,132,190,0.5);
}
.header_cart{
    fill: rgb(147, 147, 147);
    cursor: pointer;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border:2px solid rgba(199, 199, 199, 0.296);
    background-color: #e9eaec3b;
    border-radius: 8px;
    color: rgb(147, 147, 147);
}
.header_cart:hover{
    background-color: #3984be;
    fill: white;
    color: white;
}
.showCatalog{
    width: 100%;
    height: 320px;
    padding: 0px 7%;
    background-color:white;
    position: absolute;
}
.showCatalog li{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 300px;
    height: 100%;
}
.showCatalog a{
    color: black;
    text-decoration: none;
    width: 180px;
    height: 45px;
    background-color: #f4f6f9;
    border-radius: 50px;
    display: flex;
    padding-left: 30px;
    justify-content: start;
    align-items: center;
    font-weight: 300;
    transition: .5s;
}
.showCatalog a:hover{
    background-color: #e5e9f1;
    transition: .5s;
}
header{
    position:-webkit-sticky;
    position: sticky;
    top: 0;
}

@media(max-width:1250px){
    .main_header{
        padding: 0 5%;
        font-size: 14px;
    }
    .main_header_left img{
        width: 30%;
        margin-top: 2px;
    }
    .main_header_left p{
        width: 150px;
        font-size: 18px;
    }
    .inst{    
        font-weight: 300;
        font-size: 18px;
        width: 100px;
    }
    .main_header_right_a{
        font-size: 16px;
    }
}

@media(max-width:1000px){
    .main_header{
        padding: 0 5%;
    }
    .main_header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main_header_left{
        width: 100%;
        display: grid;
        place-items: center;
        justify-content: center;
        grid-template-columns: repeat(2, 165px);
        grid-template-rows: 60px, 30px;
        gap: 10px;
        /* grid-template-areas: 
        "logo logo"
        "number inst"; */
    }
    .main_header_left img{
        width: 200px;
        margin-top: -8px;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
    }
    .main_header_left p{
        width: 100%;
        justify-content: start;
        
    }
    .main_header_left #numb{
        padding-right: 15px;
        width: 35px;
    }
    .main_header_left a{
        width: 100%;
        justify-content: end;
    }
    .main_header_left #inst{
        width: 35px;
        padding-right: 15px;
    }
    .main_header_right{
        padding: 10px;
        width: 300px;
        justify-content: space-around;
    }

    .fixed_header{
        width: 100%;
        height: 60px;
        padding: 8px 5%;
    }
    .header_catalog{
        width: 150px;
        height: 40px;
        border-radius: 8px;
        font-size: 12px;
    }
    .header_catalog svg{
        width: 12px;
    }
    .search{
        width: 55%;
        height: 40px;
        border-radius: 8px;
        padding-left: 12px;
        font-size: 12px;
    }
    .search svg{
        fill: rgb(147, 147, 147);
        width: 12px;
    }
    .search input{
        width: 90%;
        padding-left: 10px;
        font-size: 12px;
    }
    .header_cart{
        width: 100px;
        height: 40px;
    }
    .header_cart svg{
        width: 12px;
    }
}
@media(max-width:750px){
    .main_header{
        padding: 0 5%;
    }
    .fixed_header{
        width: 100%;
        height: 60px;
    }
    .header_catalog{
        width: 40px;
        height: 40px;
        border-radius: 8px;
        font-size: 12px;
    }
    .header_catalog p{
        display: none;
    }
    .header_catalog svg{
        width: 20px;
    }
    .search{
        width: 70%;
        height: 40px;
        border-radius: 8px;
        padding-left: 12px;
        font-size: 12px;
    }
    .search svg{
        fill: rgb(147, 147, 147);
        width: 20px;
    }
    .search input{
        width: 90%;
        padding-left: 10px;
        font-size: 12px;
    }
    .header_cart{
        width: 40px;
        height: 40px;
    }
    .header_cart svg{
        width: 20px;
    }
    .header_cart p{
        display: none;
    }
}