.product{
    width: 100%;
    padding: 40px 0;
}
.productdisplay_title{
    padding: 0px 7% 60px 7%;
    font-size: 40px;
    font-weight: 300;
    color: #112038;
}
.productdisplay{
    padding: 0 7%;    
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.productdisplay__img{
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 10px;
}
.productdisplay__main__img{
    width: 80%;
    height: 300px;
}
.productdisplay__img__list{
    display: flex;
    width: 400px;
    overflow-y: scroll;
    scrollbar-width: none;
    justify-content: space-between;
    gap: 10px;
}
.productdisplay__img__list img{
    height: 150px;
    cursor: pointer;
}
.productdisplay__img__list img:hover{
    border: 1px solid rgb(10, 107, 182);
    box-shadow: 0 0 9px rgba(36, 93, 136, 0.5);
}


.productdisplay__center{
    padding-left: 30px;
    width: 700px;
    color: #112038;
}
.productdisplay__center__box_one{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.productdisplay__center__articul{
    font-weight: 300;
    font-size: 18px;
}
.productdisplay__center__prices{
    font-weight: 400;
    font-size: 48px;
}
.productdisplay__center__box_one button{
    width: 270px;
    height: 60px;
    border: none;
    border-radius: 8px;
    background-color: rgb(10, 107, 182);
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.productdisplay__center__box_one button:hover{
    border: 1px solid rgb(10, 107, 182);
    box-shadow: 0 0 9px rgba(36, 93, 136, 0.5);
}
.productdispaly__center__description{
    padding-top: 20px;
    font-weight: 400;
    font-size: 18px;
}


.productdisplay__right{
    width: 300px;
    padding: 50px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(225, 225, 225, 0.414);
    color: rgb(147, 147, 147);
    font-weight: 300;
    border-radius: 8px;
}
.productdisplay__right_img{
    font-size: 24px;
    display: flex;
    align-items: center;
}
.productdisplay__right_icon{
    width: 50px;
    height: 50px;
    color: #112038;
    padding-right: 10px;
}

.content{
    padding: 40px 7%;
    font-weight: 400;
    font-size: 18px;
}

.showImg{
    padding-top: 60px;
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: auto;
    overflow: visible;
    top: 0;
    background: white;
    overflow: hidden;
}
.show_img_main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content:center;
}
.show_img_main img{
    width: 500px;
    height: 100%;
    cursor: zoom-in;
    transition: transform .8s;
}
.show_img_main img:hover{
    transform: scale(1.4);
}
.show_img_box{
    display: flex;
    width: 100%;
    gap:20px
}
.show_img_box{
    height: 100px;
}
.close{
    position: absolute;
    right:0;
    top: 0;
    padding-right: 30px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    color:rgba(152, 155, 159, 0.613);
    z-index: 99999;
}
 .arrowsBack{
    position: absolute;
    display: flex;
    left: 0;
    justify-content: space-between;
    align-items: center;
    height: 70%;
} 
.arrowsNext{
    right: 0;
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 70%;
}
.back{
    width: 100px;
    height: 140px;
    color:rgba(152, 155, 159, 0.613);
    z-index: 99999;
}
.next{
    margin-right: -20px;
    width: 100px;
    height: 140px;
    color:rgba(152, 155, 159, 0.613);
    z-index: 99999;
}

@media (max-width:1250px) {
    .productdisplay_title{
        padding: 0px 5% 20px 5%;
    }
    .productdisplay{
        padding: 0 5%;    
    }
    .content{
        padding: 40px 5%;
    }
    .showImg{
        padding: 20px;
    }
}

@media (max-width:1100px) {
    .productdisplay__right{
        display: none;
    }
}
@media (max-width:750px)  {
    .product{
        padding: 20px 0;
    }
    .productdisplay{
        flex-direction: column;
    }
    .productdisplay_title{
        font-size: 26px;
    }
    .productdisplay__img{
        width: 100%;
        height: auto;
    }
    .productdisplay__main__img{
        width: 80%;
        height: auto;
    }
    .productdisplay__img__list{
        width: 100%;
    }
    .productdisplay__center{
        width: 100%;
        padding: 0;
    }
    .productdisplay__center__box_one{
        height: auto;
    }
    .productdisplay__center__articul{
        font-size: 14px;
        padding-bottom: 10px;
    }
    .productdisplay__center__prices{
        font-size: 34px;
        padding-bottom: 5px;
    }
    .productdisplay__center__box_one button{
        font-size: 14px;
        width: 200px;
        height: 60px;
    }
    .content{
        padding: 20px 5%;

    }
    .showImg{
        height: 100%;
        padding: 0;
        display: flex;
        align-items: center;
    }
    .show_img_main img{
        top:60px;
        width: 100%;
        height: auto;
    }
    .show_img_main img:hover{
        transform: none;
    }
    .show_img_main{
        width: 100%;
        align-items: center;
    }
    .show_img_box{
        display: none;
    }
    .next{
        margin-right: -25px;
    }
    .arrowsBack{
        height: 100%;
    }
    .arrowsNext{
        height: 100%;
    }
}
